body {
  font-family: Helvetica;
}

#app {
  margin: 0px 0px 0px 0px;
}

.container {
  max-width: 1600px;
  margin: 0px 0px 0px 0px;
}

.node {
  fill-opacity: .7;
  color:yellow !important;
}

.node rect {
  fill: #111;
  shape-rendering: crispEdges;
}

.node rect.is_split{
  fill: #118;
}

.node:hover {
  cursor: pointer;
  fill-opacity: 1;
}

.node text {
  fill: #444;
  stroke: none;
  font-size: .8em;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.cycleLink {
  fill: #633;
  opacity: .2;
  stroke: none;
  stroke-linejoin: "round";
}

.cycleLink:hover {
  opacity: .5;
  fill: #363;
}

.link:hover {
  stroke-opacity: .5;
}
