body {
  font-family: Helvetica;
}

#app {
  margin: 0px 0px 0px 0px;
}

.container {
  max-width: 1600px;
  margin: 0px 0px 0px 0px;
}

.node {
  fill-opacity: .7;
}

.node rect {
  fill: #222;
  shape-rendering: crispEdges;
}

.node rect.is_split{
  fill: #228;
}

.node:hover {
  cursor: pointer;
  fill-opacity: 1;
}

.node text {
  fill: #000;
  stroke: none;
  font-size: 1.2em;
  font-weight:bold;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.cycleLink {
  fill: #533;
  opacity: .2;
  stroke: none;
  stroke-linejoin: "round";
}

.cycleLink:hover {
  fill: #363;
  opacity: .5;
}
